# Naive Bayes

#### Importando bibliotecas

In [1]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics  import   accuracy_score 
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import KFold
from sklearn import metrics

plt.style.use('ggplot')
pd.set_option('display.max_columns', 500)

In [2]:
def report_teste(predictions, alg_name):

    print('Resultados para o classificador {0}:'.format(alg_name))
    print(classification_report(y_teste, predictions), 
    print ("Acurácia para o treino é ", accuracy_score(y_teste,predictions)))
    
def report_treino(predictions, alg_name):

    print('Resultados para o classificador {0}:'.format(alg_name))
    print(classification_report(y_treino, predictions), 
    print ("Acurácia para o treino é ", accuracy_score(y_treino,predictions)))

#### Dados

In [3]:
dataset = pd.read_csv('C:\\Users\\Fabiel Fernando\\Desktop\\Para_prova\\PROVA\\classificacao_Q3.csv')

In [4]:
dataset.head(5)

  Genero             Idade Escolaridade Profissao  Target
0      F  a - Ate 25 anos   Fundamental         b       0
1      M  a - Ate 25 anos         Medio         d       1
2      F  c - 36 a 45 anos  Fundamental         a       1
3      M  d - 46 a 55 anos  Fundamental         a       0
4      F  c - 36 a 45 anos  Fundamental         b       1

In [5]:
X = dataset.iloc[:, 0:4].values
pd.DataFrame(X).head()

   0                 1            2  3
0  F  a - Ate 25 anos   Fundamental  b
1  M  a - Ate 25 anos         Medio  d
2  F  c - 36 a 45 anos  Fundamental  a
3  M  d - 46 a 55 anos  Fundamental  a
4  F  c - 36 a 45 anos  Fundamental  b

In [7]:
X = dataset.iloc[:, 0:4].values
pd.DataFrame(X).head()

   0                 1            2  3
0  F  a - Ate 25 anos   Fundamental  b
1  M  a - Ate 25 anos         Medio  d
2  F  c - 36 a 45 anos  Fundamental  a
3  M  d - 46 a 55 anos  Fundamental  a
4  F  c - 36 a 45 anos  Fundamental  b

In [8]:
y = dataset.iloc[:, 4].values
pd.DataFrame(y).head()

   0
0  0
1  1
2  1
3  0
4  1

In [9]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()
X[:, 0] = labelencoder_X.fit_transform(X[:, 0])
onehotencoder = OneHotEncoder(categorical_features=[0])

In [10]:
X[:, 1] = labelencoder_X.fit_transform(X[:, 1])
onehotencoder = OneHotEncoder(categorical_features=[1])

In [11]:
X[:, 2] = labelencoder_X.fit_transform(X[:, 2])
onehotencoder = OneHotEncoder(categorical_features=[2])

In [12]:
X[:, 3] = labelencoder_X.fit_transform(X[:, 3])
onehotencoder = OneHotEncoder(categorical_features=[3])

In [13]:
pd.DataFrame(X).head()

   0  1  2  3
0  0  0  0  1
1  1  0  1  3
2  0  2  0  0
3  1  3  0  0
4  0  2  0  1

In [14]:
print("Dimensão dos nossos dados:\n", 
     dataset.shape)
#print("Tipo de variáveis:\n",
#     dataset.dtypes)

Dimensão dos nossos dados:
 (1000, 5)

#### Pocentagem da variável resposta

In [15]:
resposta = dataset['Target']
count = pd.DataFrame(resposta.value_counts())
percent = pd.DataFrame(resposta.value_counts(normalize = True)*100)
table = pd.concat([count, percent], axis = 1)
table.columns = ['# target', '% target']
table

   # target  % target
1       772      77.2
0       228      22.8

In [16]:
#Descritiva de algumas variáveis
#dataset.describe()

#### Treino e Teste

## Ajustando Naive Bayes

### Separando as k primeiras observações para treino e o restante para teste

In [17]:
X_treino = X[0:499, :]
y_treino = y[0:499, ]


X_teste = X[500:1000, :]
y_teste = y[500:1000, ]

In [18]:
clf = MultinomialNB()
clf.fit(X_treino, y_treino)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

#### Precisão do classificador no Decision Tree

In [19]:
pred_teste = clf.predict(X_teste)
pred_treino = clf.predict(X_treino)

#### Métricas Treino

In [20]:
 report_treino(pred_treino, 'Naive Bayes')

Resultados para o classificador Naive Bayes:
Acurácia para o treino é  0.7835671342685371
             precision    recall  f1-score   support

          0       0.00      0.00      0.00       108
          1       0.78      1.00      0.88       391

avg / total       0.61      0.78      0.69       499
 None

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

#### Métricas Teste

In [21]:
report_teste(pred_teste, 'Naive Bayes')

Resultados para o classificador Naive Bayes:
Acurácia para o treino é  0.76
             precision    recall  f1-score   support

          0       0.00      0.00      0.00       120
          1       0.76      1.00      0.86       380

avg / total       0.58      0.76      0.66       500
 None

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

#### Utilizando Grid Search

In [22]:
from sklearn.model_selection import StratifiedKFold, KFold, LeaveOneOut
cv_kfold = KFold(n_splits=3, shuffle=False, random_state=None)

In [23]:
clf = MultinomialNB()

parameters = {
    
}

model = GridSearchCV(estimator = clf,
                         param_grid = parameters,
                         cv=cv_kfold)

In [24]:
nb_ajust = model.fit(X_treino, y_treino)

In [25]:
predict_nb = nb_ajust.predict(X_treino)
print(metrics.classification_report(y_treino, predict_nb))
print('             Acurácia:',accuracy_score(y_treino, predict_nb))

             precision    recall  f1-score   support

          0       0.00      0.00      0.00       108
          1       0.78      1.00      0.88       391

avg / total       0.61      0.78      0.69       499

             Acurácia: 0.7835671342685371

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [26]:
predict_nb = nb_ajust.predict(X_teste)
print(metrics.classification_report(y_teste, predict_nb))
print('             Acurácia:',accuracy_score(y_teste, predict_nb))

             precision    recall  f1-score   support

          0       0.00      0.00      0.00       120
          1       0.76      1.00      0.86       380

avg / total       0.58      0.76      0.66       500

             Acurácia: 0.76

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)