In [17]:
# Multiple Linear Regression

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.linear_model import Ridge
from sklearn.metrics import make_scorer
from sklearn.model_selection import train_test_split, GridSearchCV

In [2]:
# Importing the dataset
dataset = pd.read_csv('C:\\Users\\Fabiel Fernando\\Desktop\\PROVA\\regressao_Q6.csv')

In [3]:
dataset.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,target
0,-0.351837,0.719462,0.862522,-1.131049,0.744903,0.532177,1.595572,0.607174,1.306696,0.450022,170.471696
1,-0.309565,0.786033,1.175365,-1.149287,0.318301,0.620987,1.470917,0.568968,1.334661,-0.267235,151.023999
2,-1.808729,-0.581660,-0.052200,-2.411602,0.171517,-1.174627,0.010317,-0.677372,0.841643,-1.186626,-268.606299
3,-0.386627,0.991724,0.234672,-0.431101,-0.160947,0.521185,1.957080,0.651099,0.933481,1.280705,180.737656
4,-0.879158,0.106556,0.775418,-1.046543,0.097267,-0.757026,1.050900,-0.262257,1.383563,-1.152509,-38.200673

In [4]:
X = dataset.iloc[:, 0:10].values
#pd.DataFrame(X).head()
y = dataset.iloc[:, 10:11].values
#pd.DataFrame(y).head()

In [5]:
from sklearn.model_selection import StratifiedKFold, KFold, LeaveOneOut
cv_kfold =KFold(n_splits=5, shuffle=False, random_state=None)
cv_loo = LeaveOneOut()

In [6]:
parameters = {
                #'fit_intercept':[True,False], 'normalize':[True,False], 'copy_X':[True, False]
             }

In [18]:
ridge = Ridge(alpha=1.7)
cv_ridge = GridSearchCV(estimator = ridge, 
                          param_grid = parameters,
                          scoring= make_scorer(mean_squared_error),
                          return_train_score=True,
                          cv=cv_loo)

In [19]:
gridcv_ridge = cv_ridge.fit(X, y)

In [20]:
modelo_ridge = gridcv_ridge.best_estimator_

In [21]:
y_pred_train =cv_ridge.predict(X)

In [22]:
# RMSE conjunto de treino
rmse = np.sqrt(mean_squared_error(y, y_pred_train))
print("Root Mean Squared Error: {}".format(rmse))

Root Mean Squared Error: 27.43187040610632

In [23]:
result = pd.DataFrame(gridcv_ridge.cv_results_)
result

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,...,split1092_train_score,split1093_train_score,split1094_train_score,split1095_train_score,split1096_train_score,split1097_train_score,split1098_train_score,split1099_train_score,mean_train_score,std_train_score
0,0.001307,0.004326,0.000256,0.001982,{},0.240761,0.063489,2899.704614,1784.994607,1287.319893,...,752.594038,752.382322,746.19801,751.348233,751.146358,753.176689,753.188155,752.821925,752.500781,0.973527

In [24]:
result['mean_train_score']

0    752.500781
Name: mean_train_score, dtype: float64

In [25]:
result['mean_test_score']

0    767.335244
Name: mean_test_score, dtype: float64

In [26]:
from math import sqrt
rmse_train = sqrt(752.500781)
rmse_train

27.4317476840248

In [27]:
rmse_test = sqrt(767.335244)
rmse_test

27.70081666666165

In [28]:
print('O valor médio do RMSE para a base de treino é {} e para base de teste {}'.format(rmse_train, rmse_test))

O valor médio do RMSE para a base de treino é 27.4317476840248 e para base de teste 27.70081666666165